.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 60vw;
    height: 35vw;
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.modalTitle {
    font-size: 20px;
    margin-bottom: 20px;
}

.inputField {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.fileInput {
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.createButton,
.closeButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.createButton:hover,
.closeButton:hover {
    background-color: #0056b3;
}